/* 
Regla CSS consta de 2 partes 1)el selector 2)bloque de declaraciones: {
    cada uno de los atributos que vamos a modificar atributo: valor;
}
 */

/*Llamar a una hoja de estilos dentro de otra. ES UNA MALA PRÁCTICA porque son bloqueantes a la hora de que el navegador lee esta instrucción*/

/* @import url("otra-hoja.css"); */

h1 {
    color: orangered;
    background-color: black;
}

/*
Selectores básicos
1)Etiquetas- son elementos HTML
2)Identificadores- atributo id- #
3)Clases - atributo class
*/

/* etiquetas */

p {
    color: midnightblue;
}

/* identificadores: Dar estilos con id se considera un antipatrón, es una mala práctica. Va en contra de la reutilización de estilos al no poder utilizar ese id en otra etiqueta */

#parrafo-dos {
    background-color: skyblue;
}

/* clases */

/* Dar estilos con clasers nos permite reutilizar nuestro código CSS */

.text-20 {
    font-size: 20px;
}

.text-32 {
    font-size: 32px;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-steelblue {
    background-color: steelblue;
}

.text-white {
    color: white;
}